* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    background: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 16px;
}

#room {
    width: 360px;
    height: 360px;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);

    border: 2px solid #333;
}

.cell {
    border: 1px solid #ddd;
    font-size: 10px;
    color: #999;

    display: flex;
    align-items: center;
    justify-content: center;
}

#item {
    display: flex;
    gap: 8px;
}

.item {
    background: #eee;
    border: 2px solid #999;
    border-radius: 6px;
    cursor: grab;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    user-select: none;
}

.item.selected {
    outline: 3px solid #2563eb;
    background: #dbeafe;
}

.cell.preview {
    background: rgba(37, 99, 235, 0.2);
}